@import url(global.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');





.titleUm {
    margin-top: 16px;
    margin-left: 16px;
    transform: translateY(50%);
}

.sub-titleUm {
    margin-left: 16px;
    transform: translateY(65%);
}

.img-hero {
    width: 100%;
    height: 540px;
    position: relative;
    top: 0;
    left: 0;

    clip-path: polygon(0 40%, 100% 0, 100% 60%, 0 100%);


    background-color: #4C2A85;
    background-image: url(../src/img/hero.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.titleDois {
    margin-right: 16px;
    text-align: right;
    transform: translateY(-140%);
}

.sub-titleDois {
    margin-right: 16px;
    text-align: right;
    transform: translateY(-170%);

}


/* - - - - - - - - - - CATÁLOGO - - - - - - - - - - - - - */


aside {
    width: 100vw;
    height: 110px;
    overflow: hidden;
    transform: translate(0, -20px);
}

.fly {
    position: relative;
    animation: fly 4s ease-in-out infinite;
    filter: drop-shadow(3px 8px 2px rgba(0, 0, 0, 0.526));
}

.titulo-catalogo,
.sub-titulo-catalogo,
.titulo-sobre,
.sub-titulo-sobre {
    text-align: center;
    margin: 0px 0px 5px 0px;
}

button {
    width: 50px;
    height: 50px;
    background-color: #4C2A85;
    border: none;
    border-radius: 500px;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    left: calc(50% - 25px);
    margin: 50px 0px;
    padding: 5px 5px 0px 5px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.carrossel {
    width: 100vw;
    height: 332px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 16px;
    overflow: scroll;
    padding: 0px 32px;
    margin-bottom: 50px;

}

.item {
    width: 210px;
    height: 305px;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    flex: 204px 0 0 ;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}
.item:hover {
    transform: scale(1.05);
    transition: all 0.5s ease;
   
}

.item-img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}


.img-catalogo-um {
    background-image: url(img/image\ 40.png);
}

.img-catalogo-dois {
    background-image: url(img/image\ 41.png);
}

.img-catalogo-tres {
    background-image: url(img/image\ 42.png);
}

.img-catalogo-quatro {
    background-image: url(img/image\ 43.png);
}

.img-catalogo-cinco {
    background-image: url(img/image\ 44.png);
}

.nav {
    cursor: pointer;
}

.less-plus {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 32px;
}


/* - - - - - - - - - - SOBRE NÓS - - - - - - - - - - - - - */


.titulo-sobre {
    text-align: center;
    margin: 100px 0px 0px 0px;
}

.sub-titulo-sobre {
    text-align: center;
    margin: 0px 0px 20px 0px;
}

.video-container {
    width: calc(100% - 32px);
    max-width: 663px;
    height: 30%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 16px;
    border-radius: 8px;
    overflow: hidden;
    margin: 72px auto;
    border-radius: 8px;
}

.img-sobre {
    width: 100%;
}

.titulo-sobre {
    margin-bottom: 12px;
}

.texto-sobre {
    max-width: 950px;
    margin: auto;
    padding: 0px 16px 0px 16px;
    line-height: 16px;
    margin-bottom: 120px;
}


/* - - - - - - - - - - MEDIA - - - - - - - - - - - - - */


@media screen and (min-width: 768px) {

    h1 {
        font-size: 40px;
    }

    p {
        font-size: 14px;
    }

    .img-hero {
        background-image: url(../src/img/hero-big.png);
    }

    .fly {
        animation: fly 16s ease-in-out infinite;
    }
    .carrossel{
          justify-content: center;
    }



}


/* - - - - - - - - - - ANIMAÇÕES - - - - - - - - - - - - - */


@keyframes fly {
    0% {
        transform: translateX(-10vw) translateY(80px);
    }

    100% {
        transform: translateX(110vw) translateY(-20px);
    }
}




/* - - - - - - - - - - HOVERS - - - - - - - - - - - - - */


button:hover {
    background-color: #6A3F9D;

}


.item:hover {
    transform: scale(1.05);
    transition: all 0.5s ease;
   
}